@media (min-width: 1200px) {
    /** version ordinateur*/ 
.desk {
    display: block;
}
footer {
    padding-left: 40vh;
}
.div-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--gb-body);
}
.container-nav {
    height: 98%; /* Full height */
    width: 10vh;
    margin-top: -10vh;
    position: fixed;  /*Make it stick, even on scroll */
    overflow: auto;  /*Enable scrolling if the sidenav has too much content */
    background-color: var(--gb-body);
    text-align: center;
}
.container-chats {
    background-color: var(--bg-contact);
    margin-top: -10vh;
    padding-left: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}
/* */
.container-center {
    margin-left: 2vh;
    padding-left: 2vh;
    padding-right: 1vh;
}
/* */
.align-right {
    text-align: right;
}
.padd-right{
    padding-right: 50vh;
}
.padd-left{
    padding-left: 50vh;
}
/* */
.container-right{
    background-color: var(--gb-body);
    margin-left: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    text-align: center;
}
/* */
.div-flex-col {
    display: flex;
    flex-direction: column;
    margin-left: 0.5vh;
    text-align: left;
    font-size: 0.6em;
    color: var(--Ccolor-txt-g);
}
.div-flex-row {
    display: flex;
    flex-direction: row;
    background-color: var(--gb-body);
    margin-top: 2vh;
}
.div-img {
    margin-left: 2vh;
    padding-top: 1.2vh;
}
.div-txt {
    margin-left: 1vh;
    text-align: left;
}

.bleu-bird{
    padding-top: 2vh;
    padding-left: 2vh;
}
nav ul {
    list-style: none;
    padding-top: 15vh;
    padding-left: 0;
}
nav ul li{
    padding-top: 5vh;
}
.div-txt h2 {
    background-color: var(--gb-body);
    font-size: 0.6em;
}
.div-txt p {
    color: var(--Ccolor-txt-g);
    font-size: 0.6em;
}
/* */
.search-bar {
    background-color: var(--color-serch);
    color:var(--Color-txt-w);
    font-weight: bold;
    margin-bottom: 3vh;
    margin-left: 1vh;
    margin-right: 1vh;
    padding: 2vh;
    border: none;
    border-radius: 2px;
}
ul {
    list-style: none;
}
.img-Bosstrap {
    width: 80px;
    border-radius: 50%;
}
}